body {
    background-image: url("../images/bg_intro.png");
	}
.recipe 
	{
	clear:both;
	border: 2px solid grey;
	}
.submit
	{
	float:left;
	clear:both;
	}
#results
	{
	display:none;  
	clear:both;
	}
#cake
	{
	clear:both;
	}

#cakeTitle
	{
	color:aqua;
	}
#loading
	{
	text-align:center;
	position:fixed;
	top: 40%;
	left: 44%;
	width:200px;
	height:120px;
	display:none;
	background-color:brown;
	}
.grid
	{
	font-size:15px;
	margin-right:10px;
	float:left;
	display:none;
	}	
.supplier
	{
	background-color:aqua;
	border-radius: 10px;
	border: 3px solid black;
	}
.final
	{
	clear:both;
	}
	
#buttondiv
	{
	clear:both;
	}

/* Animation properties for logo */	
#logo {
	float:left;
	margin-top:0.5%;
	margin-left:40%;
    position:             relative;
    animation:            basic 5s;
    -webkit-animation:    basic 5s; /*Webkit used for Safari,Opera and Chrome browser */
	animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    }
	
	@keyframes basic {
        0%	 {left:0px; transform:rotate(0deg);}25%	 {left:20px; transform:rotate(10deg);}75%	 {left:10px; transform:rotate(15deg);}100% {left:5px; transform:rotate(0deg);}}
		
	@-webkit-keyframes basic	 {
        0%	 {left:0px; transform:rotate(0deg);}25%	 {left:20px; transform:rotate(10deg);}75%	 {left:10px; transform:rotate(15deg);}100% {left:5px; transform:rotate(0deg);}}

/* Animation properties for submit button */		
#total 
	{
	 background: #5c5c5c;
     font-size:22px;
     height: 150px;
     position: relative;
     animation: total_anim 8s infinite;
	 -webkit-animation: total_anim 8s infinite; 
     animation-play-state: running;
	 -webkit-animation-play-state: running;  
	 animation-delay: 5s;
	 -webkit-animation-delay: 5s;
	}

/* For Chrome, Opera and Safari browser */
@-webkit-keyframes total_anim  {
         0%	 {left:0%;width:100px;  opacity: 0.3; }25%	 {left:10%; width:115px;border-radius:25%;background: grey;height:175px;opacity: 0.6;}75%	 {left:20%;width:130px;border-radius:50%;background: green; height:200px;opacity: 0.8;}100% {left:30%;width:160px;background: aqua; opacity: 1;  }} 

@keyframes total_anim {
    0%	 {left:0%;width:100px;  opacity: 0.3; }25%	 {left:10%; width:115px;border-radius:25%;background: grey;height:175px;opacity: 0.6;}75%	 {left:20%;width:130px;border-radius:50%;background: green; height:200px;opacity: 0.8;}100% {left:30%;width:160px;background: aqua; opacity: 1;  }} 

/* When mouse over event occurs we are pausing  */
#total:hover{
    -webkit-animation-play-state:paused;
	animation-play-state: paused
}